{% load staticfiles %}

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Plivo</title>
  <link rel="stylesheet" type="text/css" href="{% static "plugins/jqplot/jquery.jqplot.css" %}"/>
  {% block css %}{% endblock %}
  <script type="text/javascript" src="{% static "plugins/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "plugins/jquery.form.js" %}"></script>
  {% block js %}{% endblock %} 
</head>
<body>
  <div id="content_main">
    {% block content_main %}{% endblock %}
  </div>
</body>
</html>
