{% extends "base.html" %}
{% load staticfiles %}
{% load raphycharts %}

{% block content_main %}
<h1>Maximum hourly concurrent calls analytics</h1>
<div id="form-container">
  <form id="date-range-form" action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <p>Please enter a "from" and "to" date in "MM/DD/YYYY" format to see maximum hourly concurrent calls count in the time selected time frame</p>
    <fieldset>
      {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
      <div id="from_date_field_container">
        <label>From: </label>{{ form.from_date }}
        {% if form.errors.from_date %}{{ form.errors.from_date }}{% endif %}
      </div>
      <div id="to_date_field_container">
        <label>To: </label>{{ form.to_date }}
        {% if form.errors.to_date %}{{ form.errors.to_date }}{% endif %}
      </div>
    </fieldset>
    <p><input type="submit" value="Continue &rarr;"></p>
  </form>
</div>
{{ plot|render_chart }}
{% endblock %}
